@include query(701px,900px)
{
	
	header
	{
		width:700px;
		margin: 0 auto;
		min-height: 8rem;
	}
	.bg-header
	{
		h1
		{
			height:auto;
			i
			{
				color:$dbrown;
				display:inline;
				float:none;
				vertical-align: baseline;
				font-size:4rem;
			}
			span
			{
				float:none;
				letter-spacing: 0.25rem;
				text-align: left;
			}
		}
		li
		{
			@include colsplitter(5)
				{
					a
					{
						font-size:1rem;
						line-height:2rem;
						border:0 1px 0 0;
					}
				}
		}
	}
	.focal, .content1, .content2, footer
	{
		width: 700px;
		margin: 0 auto;
	}

	.bg-content2
	{
				background-color: $lblue;
	}
	.col-4
	{
		@include colsplitter(2)
		{
			padding: 0.5rem 2rem 1rem;
			h4, li
			{			
				font-size: 1.4rem;
			}
		}
	}
	footer .fa-circle
	{
		color: $mblue;
	}
	
	.col-2:last-child
	{
		unicode-bidi: bidi-override;
        direction: rtl;
    }
    
	footer h4[lang=ar]
	{
       display:block;
    }
    
	footer h4[lang=de],
    footer h4[lang=en],
    footer h4[lang=ru]
	{
        display:none;
    }
}
