$lblue: #C7F7FF;
$mblue: #89C0C9;
$dblue: #3a5E63;
$lbrown:#C9A689;
$dbrown:#7C593C;
$lgrey:	#d4d4d4;
$dgrey:	#222222;
$white: #FFFFFF;
$sans: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$serif: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;